<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
      <header>
        <h1><%= title %></h1>
        <p>Volume <input id="volume" type="range" min="0" max="100" value="60"/></p>
      </header>
      <div class="lr">
        <div class="left">
          <ul id="list">
            <% music.forEach((name) =>{ %>
              <li title='<%= name %>'><%= name  %></li>
            <% })  %>
          </ul>
        </div>
        <div class="right" id="box">

        </div>
      </div>
    </div>
    <script type="text/javascript" src="/javascripts/index.js">
    </script>
  </body>
</html>
