body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
}

a {
  color: #00B7FF;
}
ul{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.content header{
  height: 30vh;
  border: 1px solid #fff;
}

.right{
  flex: 1;
  /*height: 70vh;*/
}
.right{
   /*box-reflect: above;*/
 }
.list-wrap{
  overflow: auto;
  height: 21vh;
}

h3 {
  height: 8vh;
  overflow: hidden;
}

#list{
}

#box {
  /*width:100%;*/
}


.selected{
  color:green;
}
.typeul {
  display: flex;
}
